//.todos.center-block>ul>(li{Todo list Item $}*20)

.todos.center-block
	ul
		li Todo list Item 1
		li Todo list Item 2
		li Todo list Item 3
		li Todo list Item 4
		li Todo list Item 5
		li Todo list Item 6
		li Todo list Item 7
		li Todo list Item 8
		li Todo list Item 9
		li Todo list Item 10
		li Todo list Item 11
		li Todo list Item 12
		li Todo list Item 13
		li Todo list Item 14
		li Todo list Item 15