.well: search-bar

.todos.center-block
	ul
		li.todoitem(ng-repeat='itemtodo in vm.alltodos | filter:mysearch ')
			label
				input(type="checkbox" ng-model="itemtodo.done")
				span {{itemtodo.text | uppercase | reves }}
			button.btn.btn-small.btn-warning(ui-sref="todoDetail({idItem:itemtodo.id})") Detail	
.well: search-bar 

p {{vm.message}}
p {{vm.message_reves}}				