.well
	form.form-horizontal
		.form-group
			label.col-md-2.control-label Search
			.col-md-6
				input.form-control(ng-model="mysearch" placeholder="Enter your Search" type="text")
			p.col-md-4
				| Your search is 
				strong {{mysearch}}



.todos.center-block
	ul
		li.todoitem(ng-repeat='itemtodo in vm.alltodos')
			label
				input(type="checkbox" ng-model="itemtodo.done")
				span {{itemtodo.text | uppercase | reves }}
p {{vm.message}}
p {{vm.message_reves}}				