.well: search-bar 

.todos.center-block
	ul
		li.todoitem(ng-repeat='itemtodo in vm.alltodos')
			label
				input(type="checkbox" ng-model="itemtodo.done")
				span {{itemtodo.text | uppercase | reves }}
.well: search-bar 
				
p {{vm.message}}
p {{vm.message_reves}}				